[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = TestRail reporter with template-based mapping and test analyzer features.
[access "refs/*"]
	owner = group user/ibumarskov
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ibumarskov
	label-Verified = -1..+1 group user/ibumarskov
	push = group user/ibumarskov
	read = group user/ibumarskov
	rebase = group user/ibumarskov
	removeReviewer = group user/ibumarskov
	submit = group user/ibumarskov
[access "refs/heads/*"]
	create = group user/ibumarskov
	push = +force group user/ibumarskov
	pushMerge = group user/ibumarskov
	read = group user/ibumarskov
[access "refs/tags/*"]
	push = group user/ibumarskov
	push = +force group user/ibumarskov
